<md-card class="login-panel">
	<md-card-header class="title">
		<md-card-title>Bem vindo</md-card-title>
	</md-card-header>
	<md-card-content>
		<form>
			<div class="row">
				<md-input-container class="login-field">
					<input mdInput type="text" >
					<md-placeholder>
						<i class="fa fa-user"></i>
						<span>Usuário</span>
					</md-placeholder>
				</md-input-container>
			</div>
			<div class="row">
				<md-input-container class="login-field">
					<input mdInput type="password" >
					<md-placeholder >
						<i class="fa fa-key"></i>
						<span>Senha</span>
					</md-placeholder>
				</md-input-container>
			</div>
		</form>
	</md-card-content>
	<md-card-actions>
		<div class="button-row">
			<button md-button>Login</button>
		</div>
	</md-card-actions>
</md-card>
