<md-card class="login-panel">
	<md-card-header class="title">
		<md-card-title>Login</md-card-title>
		<md-card-subtitle id="loginMessage">{{message}}</md-card-subtitle>
	</md-card-header>
	<md-card-content>
		<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
			<div class="row">
				<md-input-container class="login-field">
					<input id="inputUser" mdInput formControlName="name" type="text" >
					<md-placeholder>
						<i class="fa fa-user"></i>
						<span>Usuário</span>
					</md-placeholder>
				</md-input-container>
			</div>
			<div class="row">
				<md-input-container class="login-field">
					<input id="inputPassword" mdInput formControlName="password" type="password" >
					<md-placeholder >
						<i class="fa fa-key"></i>
						<span>Senha</span>
					</md-placeholder>
				</md-input-container>
			</div>
		</form>
	</md-card-content>
	<md-card-actions>
		<div class="button-row">
			<button md-button (click)="onLogin()">Login</button>
		</div>
	</md-card-actions>
</md-card>
