<div class="page">
  <md-grid-list cols="3" rowHeight="2:1">
    <md-grid-tile *ngFor="let livro of livros">
      <a [routerLink]="['/home/livros', livro.id]">
        <md-card>
          <md-card-header>
            <md-card-title>
              <h3>{{livro.titulo}}<md-icon *ngIf="livro.lido" style="float: right;">check</md-icon></h3>

            </md-card-title>
            <md-card-subtitle>{{livro.subTitulo}}</md-card-subtitle>
          </md-card-header>
          <md-card-content>
            {{livro.categoria}}
          </md-card-content>
        </md-card>
      </a>
    </md-grid-tile>
  </md-grid-list>
</div>
