<md-toolbar color="primary">
  <h3 class="title">Esse eu já li</h3>
  <span class="spacer"></span>
  <button md-button (click)="onLogout()" style="float: right;">Logout</button>
</md-toolbar>
<nav md-tab-nav-bar>
  <a md-tab-link
     *ngFor="let page of pages"
     [routerLink]="page.link"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">{{page.label}}</a>
  <!--<a routerLink="ranking" routerLinkActive="active">Ranking</a>-->
  <!--<a routerLink="perfil" routerLinkActive="active">perfil</a>-->
</nav>
<div class="tab-content">
  <router-outlet></router-outlet>
</div>
